# Backend API URL (assigned by run_app_frontend.sh)
REACT_APP_API_URL=http://localhost:5001
#
# Backend API URL for each stage/environment
APP_API_URL_DEV=https://api-dev.exampleapp.com
APP_API_URL_QA=https://api-qa.exampleapp.com
APP_API_URL_STAGING=https://api-staging.exampleapp.com
APP_API_URL_PROD=https://api.exampleapp.com
APP_API_URL_DEMO=https://api-demo.exampleapp.com
#
# Frontend URL (assigned by change_env_be_endpoint.sh)
APP_FE_URL=app.exampleapp.com
# Frontend URL for each stage/environment (used by aws_deploy_to_s3.sh)
APP_FE_URL_DEV=app-dev.exampleapp.com
APP_FE_URL_QA=app-qa.exampleapp.com
APP_FE_URL_STAGING=app-staging.exampleapp.com
APP_FE_URL_PROD=app.exampleapp.com
APP_FE_URL_DEMO=app-demo.exampleapp.com
#
# App debug flag
REACT_APP_DEBUG=0
# App URI prefix
REACT_APP_URI_PREFIX=exampleapp_frontend
# Use 'x-access-tokens' instead of 'Authorization: Bearer'
# REACT_APP_X_TOKEN=1
#
# App name
REACT_APP_APP_NAME=exampleapp
#
# Local domain name (used in the CNAME file of local DNS)
APP_LOCAL_DOMAIN_NAME=app.exampleapp.local
# APP_LOCAL_DOMAIN_NAME=localhost
#
# Local frontend API port (used by server.js, webpack.config.js, and config-overrides.js)
FRONTEND_LOCAL_PORT=3000
#
# Local backend API port (used by run_app_backend.sh)
BACKEND_LOCAL_PORT=5001
#
# Local development environment running method
# * Vite (default):
# RUN_METHOD="vite"
# * Webpack:
# RUN_METHOD="webpack"
# * React-app-rewired (better error reporting when running dev)
# RUN_METHOD="react-scripts"
#
# Local run http/https protocol, to have it automatically on the application local running, no user intervention.
# RUN_PROTOCOL="http"
# RUN_PROTOCOL="https"

# Backend path (used by create_ssl_certs.sh)
BACKEND_PATH=../exampleapp_backend
#
# Config JSON files submodule configuration (used by add_github_submodules.sh)
GIT_SUBMODULE_LOCAL_PATH=src/configs
GIT_SUBMODULE_URL=git://github.com/username/exampleapp_configs.git
#
# AWS S3 bucket name for App frontend hosting (assigned by change_env_be_endpoint.sh)
AWS_S3_BUCKET_NAME=exampleapp-frontend-website-xxx
#
# AWS configuration (used by aws_deploy_to_s3.sh and change_env_be_endpoint.sh)
AWS_S3_BUCKET_NAME_DEV=exampleapp-frontend-website-dev
AWS_S3_BUCKET_NAME_QA=exampleapp-frontend-website-qa
AWS_S3_BUCKET_NAME_STAGING=exampleapp-frontend-website-staging
AWS_S3_BUCKET_NAME_PROD=exampleapp-frontend-website-prod
AWS_S3_BUCKET_NAME_DEMO=exampleapp-frontend-website-demo
#
AWS_REGION=aws-region
#
# Use fexth instead of the default axios
# REACT_APP_USE_AXIOS=0
#
# Use RouterProvider instead of HashRouter
# (default is HashRouter because it's the one that works with AWS S3 hosting)
# REACT_APP_HASH_ROUTER=0
